body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flexbox;
    justify-content: center;
    background-color: #f4f4f4;
    height: 100vh;
}

.container {
    background-color: white;
    border: 3px solid;
    width: 40px
    border-radius: 8px;
    padding: 20px;
}

h1 {
    display: inline-block;
    text-shadow: 2px 2px 5px #87a936;
    padding: 10px;
    border: 1px solid;
    border-width: medium;
    border-color: black;
    color: #6dd63f;
}

.reaction {
    margin-bottom: 20px;
}

select {
    font-size: 1rem;
    border: 2px solid;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-bottom: 15px;
}

select:hover{
    background-color: #6dd63f;
}


.reaction p {
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 4px;
    border: 2px solid #0f100f;
    color: #5fd941;
    font-size: larger;

}

img {
    border: 2px solid;
    margin-top: 1%;
    border-radius: 5%;
    width: 80px;
    height: 80px;
    
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #5fd941;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;

}

button:hover {
    background-color: #45a049;
    
}

Mobile Friendly 
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
} 




